body{
    background-image: url(https://www.freecodecamp.org/news/content/images/2020/04/w-qjCHPZbeXCQ-unsplash.jpg);
    justify-content: center;
    align-items: center;
    height: 110vh;
    flex-direction: column;
    display: flex;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}



button{
padding: 12px;
font-size: 1em;
border: 1px solid black;
border-radius: 8px;
background-color: brown;
color: rgb(67, 238, 32);
}

h1{
    font-size: 4em;
    padding: 15px;
    display: inline-block;
    width: 120px;
    background-color: rgba(0, 0, 0,0.5);
    color: rgba(231, 213, 44, 0.788);
    text-align: center;
    }
