body{
    background-color: #DEB887;
    width: 100%;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}


h1{
    
    display: inline-block;
    width: 80px;
    height: 50px;
    color: white;
    background-color: blue;
    padding-top:10px;
    margin-top: 10px;
}

.timer{
    margin-top: 150px;

}


button{
	border-radius:3px;
	background-color: white;
	color:green;
}
